.bg1-img{
    background:rgb(241, 225, 194);
}
.content{
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 999;
    text-align: center;
    padding: 20px 10px;
    width: 75%;
    /* height: 70%; */
    /* transform: translate(-50%,-50%); */
    background: url(./img/bg2.png);
    border-radius: 15px;
    border:3px dashed;
    box-shadow: 20px 20px 10px -5px rgba(238, 194, 107, 0.5);
}
.input_field{
    padding-bottom: 30px;
    height: 10%;
    font-size: 120%;
    text-align: left;
    left: 0;
}
.input_text{
    border-bottom:1px dashed black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: rgba(241, 225, 194, .0);
    width:60%;
    height: 100%;
    font-size: 80%
}
.code_field{
    padding-bottom: 20px;
    height: 10%;
    font-size: 120%;
    text-align: left;
    left: 0;
    float: left;
}
.code_input{
    border-bottom:1px dashed black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: rgba(241, 225, 194, .0);
    width: 35%;
    height: 100%;
    font-size: 80%;
}
.code_button{
    background-color: rgb(241, 225, 194);
    border: 2px dashed;
    z-index: 0;
    border-radius: 5px;
    font-size: 10px;
    float: right;
    transform: translate(0,20%);
    width: 25%;
    box-shadow: 10px 10px 10px -5px rgba(238, 194, 107, 0.5);
}
.button{
    background:rgb(241, 225, 194);
    border-radius: 15px;
    border: 3px dashed;
    box-shadow: 10px 10px 10px -5px rgba(238, 194, 107, 0.5);
    text-align: center;
    font-size: 200%;
    position: absolute;
    margin-top: calc(10%);
    width: 50%;
    /* bottom: 20%; */
    left: 25%;
}
.url{
    text-align: center;
    text-decoration: underline;
    width: 60%;
    margin: auto;
    /* margin-bottom: 3%; */
    /* display: block; */
    /* position: fixed; */
    padding: 10px 20px;
}
.url_all{
    margin-top: calc(35%);
}
