:root{
    --primary-color:#0D6FFA;
    --accent-color:#49CE95;
    --danger-color:#EC3582;
    --fore-color:rgba(0,0,0,0.65);
    --main-cast-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08), 0px 3px 6px rgba(0, 0, 0, 0.12);
}
body{
    background-color:#000;
}
.sc-bottom-bar{
    z-index: 99999999;
    position:fixed;
    display:flex;

    padding: 16px 32px;
    justify-content: space-between;
    width: calc(100% - 64px);
    margin: auto;
    bottom: 0;
    height: 32px;

    font-size:26px;
    background-image:radial-gradient(circle at 36px 6px,transparent 36px, #666 37px);
    filter: drop-shadow(0px -1px 6px  rgba(0, 0, 0, 0.08)) drop-shadow(0px -2px 12px  rgba(0, 0, 0, 0.12));
    transition: cubic-bezier(0.57, 0.23, 0.08, 0.96) .45s;
}


.sc-nav-indicator{
    position:absolute;

    width: 56px;
    height: 56px;
    bottom: 28px;
    margin:auto;
    left:0;

    background-color: #333;
    box-shadow: var(--main-cast-shadow);
    border-radius:50%;
    transition: cubic-bezier(0.45, 0.73, 0, 0.59) .3s;
}
.sc-menu-item{
    color:var(--fore-color);
    transition:ease-in-out .5s;

    cursor: pointer;
}
.sc-current{
    position:relative;

    color:#fff;

    z-index:3;
    transform:translate3d(0px,-22px,0px);
}

.HMGet_content{
    padding: 12px;
}
.HMGet_sub_content{
    padding: 6px;
    border-radius: 3px;
    width: calc(100% - 12px);
    background-color: #999;
    margin-bottom: 24px;
}
.HMGet_sub_content .details{
    font-size: 14px;
    padding: 3px;
    font-family: "Times New Roman", "宋体";
    border-collapse:collapse;
    vertical-align: to;
}
.HMGet_sub_content .title{
    text-align: center;
    border-bottom: 2px #000 solid;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    font-family: "Times New Roman", "黑体";
}

.HMGet_btn{
    margin: 4px;
    width: calc(100% - 8px);
    color: #ccc;
    background-color: #000;
    border-radius: 2px;
    border: 1px #000 solid;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 6px;
    font-weight: bold;
    font-family: "Times New Roman", "楷体";
}