.bg1-img{
    background:rgb(241, 225, 194);
}
.content1{
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 60%;
    height: 60%;
    background: url(./img/bg2.png);
    border-radius: 15px;
    border:3px dashed;
    box-shadow: 20px 20px 10px -5px rgba(238, 194, 107, 0.5);
}
.circle {
    margin: auto;
    box-shadow: 20px 20px 10px -5px rgba(238, 194, 107, 0.5);
    border-radius: 60%;
     border:4px dashed;
     width: 150px;
     height: 150px;
 }
.kuangkuang{
    background: url(./img/bg2.png);
    position: absolute;
    top: 15%;
    right: 10%;
    left: 10%;
    z-index: 999;
    width: 80%;
    /* height: 80%; */
    border:3px dashed;
    border-radius: 15px;
    box-shadow: 20px 20px 10px -5px rgba(238, 194, 107, 0.5);
}
.content{
    left: 5%;
    text-align: left;
    font-size: large;
    font-weight: bolder;
    padding: 10px 20px;
    width: 60%;
}