.avatar_small{
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 12px;
    position: absolute;
    left: 12px;
}

.avatar_middle{
    width: 64px;
    height: 64px;
    text-align: center;
    border-radius: 32px;
    margin: 6px;
}

.header_logo{
    padding: 64px 0;
    text-align: center;
}
.header_logo_img{
    border-radius: 12px;
    width: 128px;
    height: 128px;
}
.nav_row{
    justify-content: space-between;
    width: calc(100% - 24px);
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    padding: 12px;
    position: fixed;
    background-color: #333;
    box-shadow: white 0 0 2px;
    overflow-x: scroll;
    white-space: nowrap;
}
.nav_row::-webkit-scrollbar
{
    display: none;
}
.nav_btn{
    color: black;
    background-color: #ccc;
    border-radius: 12px;
    height: 40px;
    width: 100px;
    letter-spacing: 0;
    font-weight: bold;
    padding: 6px 12px;
    margin: 12px;
}
.nav_btn_chosen{
    color: black;
    border-radius: 12px;
    height: 40px;
    width: 100px;
    font-weight: bold;
    background-color: white;
    padding: 6px 12px;
    margin: 12px;
    letter-spacing: 0;
}
.nav_btn_small{
    color: black;
    letter-spacing: 0;
    background-color: #ccc;
    border-radius: 12px;
    height: 40px;
    width: 80px;
    font-weight: bold;
    font-size: 14px;
    padding: 6px 12px;
    margin: 12px;
}
.nav_btn_chosen_small{
    color: black;
    border-radius: 12px;
    height: 40px;
    letter-spacing: 0;
    width: 80px;
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    padding: 6px 12px;
    margin: 12px;
}

.common_select {
    background-color: #fff;
    width: 60%;
    height: 38px;
    color: #000;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}
.usermenu_btn{
    z-index: 9999999;
    position: fixed;
    width: 48px;
    height: 48px;
    font-size: 24px;
    border-radius: 24px;
    text-align: center;
    bottom: 20%;
    right: 12px;
    margin: 0 auto;
    color: black;
    background: rgba(255,255,255,0.75);
    line-height: 48px;
}

.usermenu_item{
    width: 48px;
    height: 48px;
    font-size: 24px;
    border-radius: 24px;
    text-align: center;
    margin: 16px auto;
    color: #ccc;
    background: rgba(125,125,125,1);
    line-height: 48px;
}
.usermenu_list{
    position: fixed;
    z-index: 99999999;
    width: 100%;
    height: 50%;
    top: 20%;
    color: #CCC;
    background: rgba(0,0,0,0.8);
    line-height: 48px;
    box-shadow: 0 0 5px #000;
    overflow-y: scroll;
}

.usermenu_list::-webkit-scrollbar
{
    display: none;
}

.footmenu_item{
    width: 48px;
    height: 48px;
    font-size: 24px;
    border-radius: 24px;
    text-align: center;
    margin: 8px auto;
    color: white;
    background: #444;
    line-height: 48px;
}
.footmenu_item_chosen{
    width: 64px;
    height: 64px;
    font-size: 24px;
    border-radius: 32px;
    text-align: center;
    margin: 8px auto;
    color: white;
    background: #555;
    line-height: 48px;
    box-shadow: 0 0 5px #555;
}
.footmenu_list{
    position: fixed;
    z-index: 99999999;
    width: 100%;
    bottom: 0%;
    background: linear-gradient(to top, #333 0%,#333 70%,#333 71%,transparent 72%,transparent 100%);
}
.footmenu_select{
    padding: 12px;
    text-align: center;
    width: 100%;
    background-color: #333;
    border: 0;
    color: #999;
    font-weight: bold;
    font-size: 24px;
}
.menu_title{
    font-weight: bold;
    color: #999;
}
.logo_icon{
    width: 16px;
    height: 16px;
    border-radius: 2px;
}

.btn_list{
    padding: 24px 12px;
}

.btn_item{
    background-color: #999;
    margin-bottom: 24px;
    padding: 12px;
    box-shadow: 0 0 5px #999;
}

.btn_title{
    border-bottom: 2px solid #ccc;
    margin-bottom: 12px;
    color: #ccc;
}

.btn_comment{
    font-size: 16px;
    color: #fff;
    font-family: "Times New Roman", "宋体";
}

.btn_comment::before{
    content: ">>";
    font-size: 16px;
    color: #fff;
    font-family: Broadway;
}

.watch_image{
    max-width: 80%;
    max-height: 300px;
    border: 5px white solid;
    box-shadow: black 0 0 5px 2px;
    margin: 12px 0;
}
.watch_image_box{
    width: 100%;
    text-align: center;
}

.header_list{
    position: fixed;
    top: 0;
    height: 40px;
    background-color: rgba(36,36,36,0.75);
    box-shadow: #333 0 0 5px 0;
    color: #eee;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    width: calc(100% - 24px);
    padding: 0 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.header_list::before{
    content: "<";
    font-family: Broadway;
}

.FullScreen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding-top: 300px;
    text-align: center;
    display: none;
}