body{
    background-color: #090909;
}
.card_bg{
    background-color: #090909;
    padding-right: 6px;
    padding-left: 6px;
    min-height: 100%;
}

.card{
    margin: 6px;
    background-color: #333;
    padding: 12px;
    color: #999;
    box-shadow: #333 1px 1px 6px;
}

.card_image{
    width: 100%;
    border-radius: 6px;
}

.card_image_container{
    padding: 12px;
}

.card_title{
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    padding-left: 8px;
    border-bottom: 3px #999 solid;
}

.card_title_unline{
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    padding-left: 8px;
}

.card_contents{
    margin-top: 12px;
    font-family: "Times New Roman", "宋体";
    text-indent: 12px;
}

.card_btn{
    margin: 12px 24px;
    text-align: center;
    background-color: #222;
    padding: 6px;
    border-radius: 6px;
    letter-spacing: 6px;
    color: #ccc;
}