<table>
    <tr>
        <td align="center" width="48" rowspan="2" style="vertical-align: top;">
            <a href="index.php?mod=user&action=profile&uid={$row['uid']}{if isset($_GET['on_app'])}&on_app=true{/if}">
                <img src="{$row['avatar']}" width="48" height="48" style="border-radius: 50%; ">
            </a>
        </td>
        <td style="padding-left: 12px" width="100%">
            <p align="left" style="font-size: 12px">{$row['name']}</p>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 12px">
            <div class="chat-bubble" style="padding: 6px">
                {if isset($classinfo) && $classinfo}
                <div class="content3" style="text-align: left">
                    <p class="classlist-titlenav">
                        <span class="classlist-title"><var>classinfo['name']</var></span>
                    <hr size="1" color="white">
                    </p>
                    <div class="classlist-introduction">
                        <p>课程号: <var>classinfo['num']</var>，授课老师: <var>classinfo['teacher']</var></p>
                        <p>考核方式: <?php echo (isset($classinfo_ext['exam']) && $classinfo_ext['exam'])?$classinfo_ext['exam']:"暂缺"; ?></p>
                        <p>课程综合评分: <?php echo round($classinfo['total'], 2); ?>
                        <p align="right" style="padding-top: 6px">
                            <a href="javascript:;" class="classlist-link" onclick="RemarkClass('<var>classinfo['classid']</var>');">评价</a>
                        </p>
                    </div>
                </div>
                {/if}
                <p align="left">{$row['contents']}</p>
            </div>
        </td>
    </tr>
</table>