.bg1-img{
    background:rgb(241, 225, 194);
}
.need_button{
    background-color: rgb(241, 225, 194);
    border: 3px dashed;
    border-radius: 2px;
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    float: left;
    transform: translate(0,20%);
    width: 25%;
    margin: 10px;
    box-shadow: 10px 10px 10px -5px rgba(238, 194, 107, 0.5);
}
.container{
    overflow: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    height: 60vh;
}
.container::-webkit-scrollbar {
    width: 0;
}
.block{
    background-color: rgb(241, 225, 194);
    font-size: 130%;
    margin: 5%;
}
.list{
    background-color: rgb(241, 225, 194);
    border: 3px dashed;
    font-size: 130%;
    margin: 5%;
    margin-bottom: 10%;
    padding: 8px 0 8px 0;
}
.button{
    border:3px solid black;
    width: 11%;
    margin-right: 1px;
    font-size: 80%;
    text-align: center;
    float: right;
}
.button:active{
    background: rgb(240, 202, 127);
}
.add_task_button{
    float: right;
    bottom: 15vh;
    font-size: 10vw;
    font-weight: bold;
    text-align: center;
    background: url(./img/button.png);
    background-size: 100% 100%;
    /* border: 3px dashed; */
    border-radius: 60%;
    width: 15vw;
    height: 15vw;
    box-shadow: 10px 10px 10px -5px rgba(238, 194, 107, 0.5);
}
.bottom{
    top: calc(100%);
    width: 100%;
}
.bottom_button_1{
    background-color: rgb(241, 225, 194);
    border: 3px dashed;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    width: 31%;
    float: left;
}
.bottom_button_2{
    background-color: rgb(241, 225, 194);
    border: 3px dashed;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    width: 31%;
    float: left;
}
.bottom_button_3{
    background-color: rgb(241, 225, 194);
    border: 3px dashed;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    width: 48%;
    float: left;
}
.bottom_button_1:active{
    background: rgba(240, 202, 127, 0.5);
}
.bottom_button_2:active{
    background: rgba(240, 202, 127, 0.5);
}
.bottom_button_3:active{
    background: rgba(240, 202, 127, 0.5);
}