@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.usermenu{
    z-index: 999999;
    position: fixed;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    width: 80%;
    margin: 0 auto;
    color: white;
    border: 1px solid #000;
    background: rgba(14,14,14,0.75);
    line-height: 48px;
}

a{
    text-decoration:none;
    color: black;
}
@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

.classlist-marks{
    font-size: 16px;
    font-weight: bold;
    color: #793c65;
}

input[type=range] {
    width: 100%;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    border-radius: 10px;
    border: #793c65 1px solid;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff;
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}

.bg1-img{
    background-color: #efdab7;
    height: 100vh;
    background-size: cover;
    background-position: top;
}
.bg1-img:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.content{
    position: absolute;
    top: 64px;
    z-index: 999;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 8%;
    width: 100%;
    height: calc(100% - 128px);
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}

.content_login{
    position: absolute;
    top: 16%;
    left: 0%;
    z-index: 999;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 12%;
    padding-top: 4%;
    width: 100%;
    background: rgba(255,255,255,0.88);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.25);
}

.content2{
    position: relative;
    text-align: center;
    padding: 2% 1%;
    width: 92%;
    color: #793c65;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
    margin-bottom: 12px;
    background: #f7ecd8;
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.25);
}
.content header{
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Montserrat',sans-serif;
}
.content_login header{
    color: dodgerblue;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Montserrat',sans-serif;
}
.subcontent{
    overflow-y: scroll;
    height: calc(100% - 54px);
    width: 100%;
}
.subcontent::-webkit-scrollbar
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #f7ecd8;
    background-color: #f7ecd8;
}
.subcontent::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #793c65;
}
.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255,255,255,0.94);
}
.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
}
.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
}
.space{
    margin-top: 24px;
    border: #3498db 1px dashed;
    border-radius: 12px;
}
.show{
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
}
.pass-key:valid ~ .show{
    display: block;
}
.pass{
    text-align: left;
    margin: 10px 0;
}
.pass a{
    color: white;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
.pass:hover a{
    text-decoration: underline;
}
.field input[type="submit"]{
    background: #3498db;
    border: 1px solid #2691d9;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
}
.field input[type="submit"]:hover{
    background: #2691d9;
}
.field input[type="button"]{
    position: absolute;
    background: #3498db;
    border: 1px solid #2691d9;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    letter-spacing: 1px;
    height: 80%;
    top: 10%;
    width: 30%;
    right: 2%;
    vertical-align: middle;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
}
.field input[type="button"]:hover{
    background: #2691d9;
}
.login{
    color: white;
    margin: 20px 0;
    font-family: 'Poppins',sans-serif;
}
.links{
    display: flex;
    cursor: pointer;
    color: white;
    margin: 0 0 20px 0;
}
.facebook, .instagram{
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-left: 10px;
}
.facebook{
    margin-left: 0;
    background: rgb(100, 0, 100);
    border: 1px solid #3e61a8;
}
.instagram{
    background: #E1306C;
    border: 1px solid #df2060;
}
.facebook:hover{
    background: #3e61a8;
}
.instagram:hover{
    background: #df2060;
}
.links i{
    font-size: 17px;
}
i span{
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
}
.signup{
    font-size: 15px;
    color: white;
    font-family: 'Poppins',sans-serif;
}
.signup a{
    color: #3498db;
    text-decoration: none;
}
.signup a:hover{
    text-decoration: underline;
}

.classlist-rank{
    font-family: Broadway;
    text-shadow: 2px 1px 2px #793c65;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 12px;
    color: #efdab7;
    border-radius: 2px;
    background-color: #793c65;
}

.classlist-title{
    font-family: 微软雅黑;
    font-weight: bold;
}

.classlist-titlenav{

}

.classlist-introduction{
    padding-top: 12px;
    padding-left: 12px;
    font-size: 14px;
    font-family: "Times New Roman", "宋体";
}

.classlist-link{
    color: white;
    background-color: #793c65;
    border-radius: 4px;
    border: 1px #793c65 solid;
    padding-right: 6px;
    padding-left: 6px;
    margin-top: 6px;
    margin-right: 12px;
    display: inline-block;
    text-indent: 0;
}

.classlist-link:hover {
    color: black;
    background-color: #fdfdfd;
    border-radius: 4px;
    border: 1px #fdfdfd solid;
    padding-right: 6px;
    padding-left: 6px;
    margin-top: 6px;
    margin-right: 12px;
    display: inline-block;
    text-indent: 0;
}

.classlist-onwindow {
    width: 96%;
    height: 50%;
    z-index: 9999;
    visibility: hidden;
    position: absolute;
    overflow-y: scroll;
    left: 2%;
    top: 25%;
    padding: 16px;
    border-radius: 12px;
    border: #7f7e7e 1px solid;
    background-color: white;
    font-family: "等线";
}

.classlist-window_contents {
    border-collapse:collapse;
}

.classlist-window_header{
    width: 100%;
    left: 0;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px black solid;
    margin-bottom: 12px;
    bottom: 85%;
    padding-left: 16px;
}

.classlist-window_p{
    width: 80%;
    font-size: 16px;
    text-align: center;
    top: 15%;
    left: 10%;
    display: table-cell;
    height: 60%;
    vertical-align: middle;
}

.classlist-window_btn{
    border-top: #7f7e7e 1px solid;
    vertical-align: middle;
}

.classlist-window_btn1{
    border-right: #7f7e7e 1px dashed;
}

.classlist-window_btn2{
    border-left: #7f7e7e 1px dashed;
    color: #1aad19;
}

.classlist-window_btn2_font{
    color: #1aad19;
}

.classlist-window_btn1_font{
    color: #7f7e7e;
}

.classlist-select{
    color: #efdab7;
    text-align: left;
    padding-left: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 17px;
    background-color: #fcf6ea;
    border-radius: 6px;
    height: 34px;
    width: 100%;
    white-space: nowrap;
    font-weight: bold;
    overflow-x: scroll;
}
.classlist-select::-webkit-scrollbar{
    display: none;
}

.classlist-subselect{
    text-align: left;
    padding-left: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
    border-radius: 6px;
    height: 26px;
    width: 100%;
    white-space: nowrap;
    word-spacing: 12px;
    font-weight: bold;
    overflow-x: scroll;
}
.classlist-subselect::-webkit-scrollbar{
    display: none;
}

.classlist-select-cell{
    color: #efdab7;
}
.classlist-subselect-cell{
    color: grey;
}

.classlist-selected-cell{
    color: #793c65;
    font-weight: bold;
    border-bottom: #793c65 2px solid;
}