body{
    background-image: repeating-linear-gradient(45deg, transparent, transparent 1em, #decdbb 1em, #e9d7c4 50%), repeating-linear-gradient(45deg, #dbc4ad, #dbc4ad 1em, #edd6bd 1em, #edd6bd 50%);
    background-size: 3em 3em, 2em 2em;

    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: flex;
    height: 100%;
}

.post_message_box{
    position: fixed;
    width: calc(100% - 2px);
    height: 42px;
    bottom: 1px;
    left: 1px;
}
.post_message_input{
    height: 42px;
    border: 1px solid #793c65;
    background-color: #f7ecd8;
    border-radius: 2px;
    width: calc(100% - 48px);
    padding-right: 36px;
    padding-left: 12px;
}
.post_message_btn{
    position: fixed;
    z-index: 9999;
    right: 0;
    height: 42px;
    width: 48px;
    border: 1px solid #793c65;
    background-color: #793c65;
    color: #efdab7;
    font-weight: bold;
    border-radius: 2px;
}
.post_message_img{
    position: fixed;
    z-index: 9999;
    right: 56px;
    height: 24px;
    width: 24px;
    bottom: 10px;
    border: 1px solid #793c65;
    background-color: #793c65;
    color: #efdab7;
    font-weight: bold;
    border-radius: 21px;
}
.message_list{
    height: calc(100% - 84px);
    width: 100%;
    overflow-y: scroll;
}
.message_list::-webkit-scrollbar
 {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px #f7ecd8;
     background-color: #f7ecd8;
 }
.message_list::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #793c65;
}

.message_notice{
    border-radius: 6px;
    padding: 3px 6px;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 12px auto;
    text-align: center;
    color: #2f2e2e;
}

.message_time{
    color: #7f7e7e;
    font-size: 14px;
}

*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

code {
    color: rgba(255, 255, 255, 0.75);
    display: inline;
}

.List {
    list-style: none;
    margin: 0;
    padding: 20px;
}

.Item {
    margin-bottom: 12px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
}
.Item + .Item {
    margin-top: 8px;
}

.Avatar {
    border-radius: 25%;
    overflow: hidden;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    height: 48px;
    width: 48px;
}

.Avatar-image {
    display: block;
    width: 100%;
}

.Messages {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.Message {
    color: white;
    letter-spacing: 0.5px;
    line-height: 1.25;
    font-weight: 300;
    margin: 1px;
}

.Message-inner {
    background: #fbecd7;
    color: #793C65;
    display: inline-block;
    word-break: break-all;
    max-width: 100%;
    padding: 8px 16px;
    font-family: "Times New Roman", "宋体";
}

.Item--left .Messages {
    margin-left: 16px;
}
.Item--left .Message-inner {
    border-radius: 0 16px 16px 0;
}
.Item--left .Message:first-child .Message-inner {
    border-top-left-radius: 16px;
}
.Item--left .Message:last-child .Message-inner {
    border-bottom-left-radius: 16px;
}

.Item--right {
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.Item--right .Messages {
    margin-right: 16px;
    -webkit-box-align: end;
    align-items: flex-end;
}
.Item--right .Message-inner {
    background-attachment: fixed;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#793C65), to(#AF137C));
    background-image: linear-gradient(#793C65, #AF137C);
    background-size: 100vw 100vh;
    border-radius: 16px 0 0 16px;
    color: white;
}
.Item--right .Message:first-child .Message-inner {
    border-top-right-radius: 16px;
}
.Item--right .Message:last-child .Message-inner {
    border-bottom-right-radius: 16px;
}