* {
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
    box-sizing: border-box;
}
.gallery-section {
    width: 100%;
    padding: 0;
    background: #97010d url('../../static/img/2021/bg.jpg?r=2') no-repeat;
    background-size: 100% auto;
    background-attachment:fixed;
}
.inputtext{
    width: 200px;
    padding-left: 6px;
    padding-bottom: 2px;
    padding-top: 2px;
    border: 0.5px dashed coral;
}
.inner-width {
    width: 100%;
    max-width: 800px;
    margin: auto;
    background: rgba(255,255,255,0.6);
    padding: 40px 20px;
}
.inner-width2 {
    width: 100%;
    max-width: 800px;
    margin: auto;
    background: rgba(255,255,255,0.6);
    padding: 60px 20px;
}
.gallery-section h1 {
    text-align: center;
    text-transform: uppercase;
    color: #333;
}
.border {
    width: 180px;
    height: 4px;
    background: #333;
    margin:auto;
}
.round_icon{
    margin: auto;
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.round_icon2{
    text-align: center;
    margin: auto;
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.gallery-section .gallery {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.gallery-section .image {
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
}
.gallery-section .image img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
.gallery-section .image:hover img {
    transform: scale(1.4) rotate(15deg);
}
@media screen and (max-width: 480px) {
    .gallery-section .image {
        flex: 33.33%;
    }
}
@media screen and (max-width: 720px) {
    .gallery-section .image {
        flex: 50%;
    }
}
@media screen and (max-width: 480px) {
    .gallery-section .image {
        flex: 100%;
    }
}
a{
    color: black;
}

.true{
    display: inline;
}
.false{
    display: none;
}

.follow{
    display: block;
    width: 25%;
    height: 30px;
    margin: 0 auto;
    margin-top: 8px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    outline: none;
    background: rgba(233, 7, 7, 0.2);
}
.follow:hover{
    background: rgba(52, 255, 52, 0.3);
}

.home_btn{
    background-color: #f7f7fa;
    padding: 12px;
    border-radius: 8px;
    margin: 6px;
    color: #ff7f50;
    font-size: 16px;
    box-shadow: #0d0d0d 0 0 4px;
    text-align: center;
}

.home_profile{
    background-color: white;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    box-shadow: #0d0d0d 0 0 4px;
    border-radius: 12px;
}

.home-cover{
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: #97010d url('../../static/img/2021/bg.jpg?r=2') no-repeat;
    background-size: 100% auto;
    background-attachment:fixed;
    filter:alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    animation: myfirst 2s;
    -moz-animation: myfirst 2s; /* Firefox */
    -webkit-animation: myfirst 2s; /* Safari and Chrome */
    -o-animation: myfirst 2s; /* Opera */
}

.home-num{
    font-size: 16px;
}

@keyframes myfirst
{
    0% {
        filter:alpha(opacity=100);
        opacity: 1;
    }
    60% {
        filter:alpha(opacity=100);
        opacity: 1;
    }
    100% {
        filter:alpha(opacity=0);
        opacity: 0;
    }
}

@-moz-keyframes myfirst /* Firefox */
{
    0% {
        filter:alpha(opacity=100);
        -moz-opacity: 1;
    }
    60% {
        filter:alpha(opacity=100);
        -moz-opacity: 1;
    }
    100% {
        filter:alpha(opacity=0);
        -moz-opacity: 0;
    }
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0% {
        filter:alpha(opacity=100);
        opacity: 1;
    }
    60% {
        filter:alpha(opacity=100);
        opacity: 1;
    }
    100% {
        filter:alpha(opacity=0);
        opacity: 0;
    }
}

@-o-keyframes myfirst /* Opera */
{
    0% {
        filter:alpha(opacity=100);
        opacity: 1;
    }
    60% {
        filter:alpha(opacity=100);
        opacity: 1;
    }
    100% {
        filter:alpha(opacity=0);
        opacity: 0;
    }
}

.home-cover-inner{
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, 0);
}

.home-input{
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 36px;
    width: 60%;
    font-size: 20px;
    border: 0;
    box-shadow: 0 0 4px black;
}

.set_menu{
    border: 0;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 12px;
    box-shadow: 0 0 2px black;
    border-radius: 12px;
}

.set_menu_header{
    vertical-align: top;
}