.Reg{
    padding: 12px;
}

.Reg_title{
    text-align: center;
    margin: 12px auto;
    color: #793C65;
    font-size: 36pt;
}

.Reg_title2{
    text-align: center;
    margin: 6px auto;
    color: #793C65;
    font-size: 24pt;
}

.Reg_Photo{
    text-align: center;
    line-height: 48px;
    color: #793C65;
    background-color: #f7ecd8;
    display: block;
    height: 200px;
    margin: 24px auto;
    border-radius: 8px;
    overflow: hidden;
}

.Reg_Photo_Plus{
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 24px;
    background-color: #efdab7;
    color: #f7ecd8;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin: 0 auto;
}

.pass{
    color: #f7ecd8;
    line-height: 48px;
}

.qn_back{
    margin: 36px auto;
    padding: 12px;
    background-color: #efdab7;
    border-radius: 8px;
    box-shadow: 0 0 4px;
}

.qn_text{
    font-size: 20px;
    color: #793C65;
}

.qn_ans{
    float: right;
    padding-right: 12px;
    font-size: 20px;
    color: #793C65;
    font-weight: bold;
}

.qn_option{
    background-color: #f7ecd8;
    color: #793C65;
    box-shadow: 1px 1px 2px black;
    margin: 6px 2px;
    padding: 4px 12px;
    width: calc(100% - 100px);
    font-weight: bold;
    border-radius: 12px;
}