body{
    background-color: whitesmoke;
}

.post_submit{
    background-color: #999999;
    color: white;
    font-weight: bold;
    border-radius: 36px;
    width: 80%;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 0 5px #999999;
    letter-spacing: 6px;
    padding: 12px;
    margin: 12px auto;
}

.post_textarea{
    width: calc(100% - 12px);
    margin: 12px 6px;
    resize: none;
    font-size: 18px;
    text-shadow: 0 0 1px #999999;
    color: black;
    padding: 12px;
    border-radius: 8px;
    background-color: whitesmoke;
    border: 1px #999999 solid;
    box-shadow: 0 0 3px #999999;
    font-family: "Times New Roman", "宋体";
}

.post_select{
    width: calc(100% - 12px);
    margin: 12px 6px;
    resize: none;
    font-size: 18px;
    text-shadow: 0 0 1px #999999;
    color: black;
    padding: 12px;
    border-radius: 8px;
    background-color: whitesmoke;
    border: 1px #999999 solid;
    box-shadow: 0 0 3px #999999;
    font-family: "Times New Roman", "宋体";
}

.dingli_search_bar{
    margin-bottom: 12px;
    margin-left: 40px;
    border-radius: 6px;
    padding: 3px;
    width: 200px;
    border: 0;
}

.dingli_list_cell{
    padding: 12px;
    width: calc(100% - 24px);
    vertical-align: top;
    display: inline-block;
    background-color: white;
    box-shadow: #000 0 -2px 2px;
    margin-top: 12px;
    margin-bottom: 4px;
    max-height: 300px;
    overflow-y: hidden;
    transition: max-height .6s;
}

.dingli_list_cells{
    width: calc(100%);
    margin-top: 16px;
}
.dingli_list_cells::-webkit-scrollbar {
    display: none;
}

.dingli_title{
    color: black;
    padding: 6px 12px;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 12px;
    box-shadow: #999999 0 0 4px 0;
}

.dingli_time{
    color: #7f7e7e;
    font-size: 12px;
    font-weight: normal;
    font-family: "Times New Roman", "宋体";
}

.dingli_text{
    margin-top: 24px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    width: 100%;
    color: black;
    font-size: 16px;
    font-family: "Times New Roman", "宋体";
}
.dingli_text_line{
    text-indent: 32px;
}
.dingli_text::-webkit-scrollbar
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #f7ecd8;
    background-color: #f7ecd8;
}
.dingli_text::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #999999;
}

.dingli_reply{
    background: rgba(255, 255, 255, 0.25);
    padding: 6px;
    border: 1px #999999 solid;
}

.like{
    text-align: center;
    padding-top: 6px;
    word-spacing: 12px;
    border-top: #999999 1px dashed;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    font-family: "Times New Roman", "楷体";
}

.like_btn{
    background-color: whitesmoke;
    color: black;
    box-shadow: white 0 0 2px;
    border: 1px solid white;
    font-family: "宋体";
    font-weight: normal;
    padding: 3px 6px;
    border-radius: 3px;
}

.comment_text{
    font-size: 16px;
    margin: 12px 0;
    width: 100%;
    padding: 6px 12px;
    border-radius: 4px;
    border: 0;
    box-shadow: #999999 0 0 2px;
    background-color: whitesmoke;
    font-family: "Times New Roman", "楷体";
}

.comment_admin{
    border: 0;
    margin: 3px;
    padding: 0;
    background-color: whitesmoke;
    word-spacing: 12px;
    transition: max-height 1.2s;
    max-height: 0;
    overflow: hidden;
}

.like2{
    text-align: center;
    padding-top: 6px;
    border-top: #999999 1px dashed;
    font-size: 14px;
}

.weihua_list_cell{
    margin: 16px calc(10% - 12px);
    padding: 12px;
    width: 80%;
    min-height: 500px;
    vertical-align: top;
    display: inline-block;
    background-color: white;
    box-shadow: #000 0 0 5px 1px;
}

.weihua_list_cells{
    width: calc(100%);
    overflow-x: scroll;
    white-space: nowrap;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 48%;
    left: 50%;
}
.weihua_list_cells::-webkit-scrollbar {
    display: none;
}

.weihua_title{
    color: #999999;
    padding: 6px 12px;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 12px;
    box-shadow: #999999 0 0 4px 0;
}

.weihua_time{
    color: #7f7e7e;
    font-size: 12px;
    font-weight: normal;
    font-family: "Times New Roman", "宋体";
}

.weihua_text{
    margin-top: 24px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    width: 100%;
    color: #999999;
    font-size: 16px;
    height: 300px;
    overflow-y: scroll;
    font-family: "Times New Roman", "宋体";
}
.weihua_text_line{
    text-indent: 32px;
}
.weihua_text::-webkit-scrollbar
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #f7ecd8;
    background-color: #f7ecd8;
}
.weihua_text::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #999999;
}

.weihua_reply{
    background: rgba(255, 255, 255, 0.25);
    padding: 6px;
    border: 1px #999999 solid;
}

.message_cells{
    background-color: #eee;
    padding: 6px;
    margin: 3px 0;
}

.new_message{
    float: right;
    color: white;
    font-weight: bold;
    font-size: 14px;
    background-color: red;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
}