.bg1-img{
    background:rgb(241, 225, 194);
}
.content1{
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 60%;
    height: 60%;
    background: url(./img/bg2.png);
    border-radius: 15px;
    border:3px dashed;
    box-shadow: 20px 20px 10px -5px rgba(238, 194, 107, 0.5);
}
.kuangkuang{
    background: url(./img/bg2.png);
    position: absolute;
    top: 15%;
    right: 10%;
    left: 10%;
    z-index: 999;
    border:3px dashed;
    border-radius: 15px;
    box-shadow: 20px 20px 10px -5px rgba(238, 194, 107, 0.5);
}
.content{
    position: relative;
    left: 3%;
    text-align: left;
    font-size: large;
    font-weight: bolder;
    padding: 10px 20px;
    width: 60%;
    height: 60%;
}
.taskinfo_button{
    margin-bottom: 10%;
    background:rgb(241, 225, 194);
    border-radius: 5px;
    border:3px dashed;
    box-shadow: 10px 10px 10px 5px rgba(238, 194, 107, 0.5);
    text-align: center;
    font-size: 200%;
    position: relative;
    width: 80%;
    left: 10%;
}