/*--------------------
container
--------------------*/
.wrap {
    margin: 150px auto 30px;
    position: relative;
    width: 80%;
    background: #fff;
    border-radius: 15px;
    padding: 272px 45px 30px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/*--------------------
confirmation
--------------------*/
.confirmation {
    position: absolute;
    top: 96px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 300ms ease 300ms;
}
.confirmation.visible {
    opacity: 1;
}

.all-good {
    display: block;
    margin: 40px auto 0;
    width: 60px;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}
.path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
}
.path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
}
.path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;
}
p.success {
    color: #777;
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}
@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}
/*--------------------
Buttons
--------------------*/
.button-cnt {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

button {
    border: none;
    margin-top: 36px;
    height: 64px;
    z-index: 2;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    transition: all 150ms ease;
    outline: none !important;
}

.primary-cta {
    background: #F4157E;
    border-radius: 10px;
    box-shadow: 0 10px 60px -10px #CD106E;
    color: white;
    padding: 0 24px;
    pointer-events: auto;
    width: 250px;
    z-index: 9;
    transition: all 150ms ease;
    will-change: transform, box-shadow, background;
}
.primary-cta.hidden {
    opacity: 0;
    pointer-events: none;
}

.secondary-cta {
    background: #333;
    border-radius: 10px;
    padding: 0 24px;
    pointer-events: auto;
    width: 80%;
    z-index: 9;
    transition: all 150ms ease;
    will-change: transform, box-shadow, background;
    position: relative;
}
.secondary-cta--done {
    background: transparent;
    color: #333;
}
.secondary-cta--send {
    border: 1px solid #333;
    box-shadow: 0 10px 60px -10px #333;
    color: #ccc;
}
.secondary-cta.hidden {
    opacity: 0;
    pointer-events: none;
}

/*--------------------
Form
--------------------*/
.form fieldset {
    border: none;
    padding: 10px 0;
}
.form fieldset label {
    display: inline-block;
    color: #444;
    font-size: 12px;
    padding: 4px;
    margin: 5px;
}
.form fieldset input {
    background-color: #333;
    width: 100%;
    height: 38px;
    color: #ccc;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    position: absolute;
    right: calc(3% + 24px);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}
.form fieldset input.input-cart-number {
    display: inline-block;
    width: 60%;
}
.form fieldset input.input-cart-number--lg {
    height: 100px;
}
.form fieldset .select {
    background-color: #333;
    width: 60%;
    height: 38px;
    color: #ccc;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    position: absolute;
    right: calc(3% + 24px);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}
.form fieldset .select::after {
    content: "";
    border-top: 8px solid #222;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    z-index: 2;
    top: 14px;
    right: 10px;
    pointer-events: none;
}
.form fieldset .select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    padding: 0;
    border: none;
    width: 100%;
    outline: none !important;
    top: 6px;
    left: 6px;
    background: none;
}
.form fieldset .select select :-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

/*--------------------
Credit Card
--------------------*/
.gift-card-box {
    width: 80%;
    height: 280px;
    position: absolute;
    top: -112px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.gift-card-box .flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.front {
    width: 94%;
    margin: 20px 3%;
    border-radius: 15px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #eee;
    font-family: sans-serif;
    top: 0;
    left: 0;
    padding: 20px 0;
    background-color: #181818;
}
.front header{
    text-align: center;
    padding: 12px;
    font-size: 32px;
    font-weight: bold;
}
.gift-card-box .card {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}
.gift-card-box .card.whoosh {
    -webkit-animation: whooshAnimation 2400ms;
    animation: whooshAnimation 2400ms;
}
@-webkit-keyframes whooshAnimation {
    50% {
        -webkit-transform: translateY(-150vh);
        transform: translateY(-150vh);
    }
    75% {
        -webkit-transform: translateX(150vw);
        transform: translateX(150vw);
    }
}
@keyframes whooshAnimation {
    50% {
        -webkit-transform: translateY(-150vh);
        transform: translateY(-150vh);
    }
    75% {
        -webkit-transform: translateX(150vw);
        transform: translateX(150vw);
    }
}
.pass{
    line-height: 24px;
    padding: 12px;
    font-size: 14px;
    word-spacing: 12px;
}
.gift-card-box .front-logo-cnt {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.gift-card-box .font-logo {
    width: 300px;
}
.gift-card-box .card-description {
    font-family: sans-serif;
    line-height: 1.4;
    text-align: center;
}
.gift-card-box .front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.gift-card-box .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
