body{
    background-color: #fcf6ea;
}

.post_submit{
    background-color: #793c65;
    color: #efdab7;
    font-weight: bold;
    border-radius: 36px;
    width: 80%;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 0 5px #793c65;
    letter-spacing: 6px;
    padding: 12px;
    margin: 12px auto;
}

.post_textarea{
    width: calc(100% - 12px);
    margin: 12px 6px;
    resize: none;
    font-size: 18px;
    text-shadow: 0 0 1px #793c65;
    color: #793c65;
    padding: 12px;
    border-radius: 8px;
    background-color: #fcf6ea;
    border: 1px #793c65 solid;
    box-shadow: 0 0 3px #793c65;
    font-family: "Times New Roman", "宋体";
}

.post_select{
    width: calc(100% - 12px);
    margin: 12px 6px;
    resize: none;
    font-size: 18px;
    text-shadow: 0 0 1px #793c65;
    color: #793c65;
    padding: 12px;
    border-radius: 8px;
    background-color: #fcf6ea;
    border: 1px #793c65 solid;
    box-shadow: 0 0 3px #793c65;
    font-family: "Times New Roman", "宋体";
}

.dingli_list_cell{
    margin: 16px calc(10% - 12px);
    padding: 12px;
    width: 80%;
    min-height: 400px;
    vertical-align: top;
    display: inline-block;
    background-color: #efdab7;
    box-shadow: #000 0 0 5px 1px;
}

.dingli_list_cells{
    width: calc(100%);
    overflow-x: scroll;
    white-space: nowrap;
    margin-top: 16px;
}
.dingli_list_cells::-webkit-scrollbar {
    display: none;
}

.dingli_title{
    color: #793c65;
    padding: 6px 12px;
    background-color: #efdab7;
    border-radius: 12px;
    margin-bottom: 12px;
    box-shadow: #793c65 0 0 4px 0;
}

.dingli_time{
    color: #7f7e7e;
    font-size: 12px;
    font-weight: normal;
    font-family: "Times New Roman", "宋体";
}

.dingli_text{
    margin-top: 24px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    width: 100%;
    color: black;
    font-size: 16px;
    height: 300px;
    overflow-y: scroll;
    font-family: "Times New Roman", "宋体";
}
.dingli_text_line{
    text-indent: 32px;
}
.dingli_text::-webkit-scrollbar
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #f7ecd8;
    background-color: #f7ecd8;
}
.dingli_text::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #793c65;
}

.dingli_reply{
    background: rgba(255, 255, 255, 0.25);
    padding: 6px;
    border: 1px #793c65 solid;
}

.like{
    text-align: center;
    padding-top: 6px;
    word-spacing: 12px;
    border-top: #793c65 1px dashed;
    font-size: 14px;
}

.like2{
    text-align: center;
    padding-top: 6px;
    border-top: #793c65 1px dashed;
    font-size: 14px;
}

.weihua_list_cell{
    margin: 16px calc(10% - 12px);
    padding: 12px;
    width: 80%;
    min-height: 500px;
    vertical-align: top;
    display: inline-block;
    background-color: #efdab7;
    box-shadow: #000 0 0 5px 1px;
}

.weihua_list_cells{
    width: calc(100%);
    overflow-x: scroll;
    white-space: nowrap;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 48%;
    left: 50%;
}
.weihua_list_cells::-webkit-scrollbar {
    display: none;
}

.weihua_title{
    color: #793c65;
    padding: 6px 12px;
    background-color: #efdab7;
    border-radius: 12px;
    margin-bottom: 12px;
    box-shadow: #793c65 0 0 4px 0;
}

.weihua_time{
    color: #7f7e7e;
    font-size: 12px;
    font-weight: normal;
    font-family: "Times New Roman", "宋体";
}

.weihua_text{
    margin-top: 24px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    width: 100%;
    color: black;
    font-size: 16px;
    height: 300px;
    overflow-y: scroll;
    font-family: "Times New Roman", "宋体";
}
.weihua_text_line{
    text-indent: 32px;
}
.weihua_text::-webkit-scrollbar
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #f7ecd8;
    background-color: #f7ecd8;
}
.weihua_text::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #793c65;
}

.weihua_reply{
    background: rgba(255, 255, 255, 0.25);
    padding: 6px;
    border: 1px #793c65 solid;
}

.message_cells{
    background-color: #f7ecd8;
    padding: 6px;
    margin: 3px 0;
}

.new_message{
    float: right;
    color: #efdab7;
    font-weight: bold;
    font-size: 14px;
    background-color: red;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
}

.working{
    padding: 24px;
}

.working_group_list{
    margin-top: 24px;
    margin-bottom: 64px;
}

.working_group_cell{
    background-color: #efdab7;
    padding: 12px;
    box-shadow: 1px 1px 4px;
    margin: 12px;
}